# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

# ls
alias ls='ls -F --color=auto --show-control-chars'
alias ll="ls -l"
alias llh="ls -la"
alias la="ls -la"
# List only directories
alias lld="ll | grep '^d'"

# Shourtcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias g="git"
alias h="history"

# Vim
alias vim="/Applications/MacVim.app/Contents/bin/mvim"
alias v="vim"

# update software
alias update="sudo softwareupdate --install --all;
              brew update;
              brew upgrade --all;
              brew cleanup;"

# IP addresses
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Ring the terminal bell, and put a badge on Terminal.app’s Dock icon
# (useful when executing time-consuming commands)
alias badge="tput bel"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# jdk
alias j11="export JAVA_HOME=$(/usr/libexec/java_home -v 11); java -version"
alias j8="export JAVA_HOME=$(/usr/libexec/java_home -v 1.8); java -version"

alias ap="ansible-playbook"
